.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: fit-content;
}

.innerContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 5px;
  height: 12px;
  overflow: hidden;
  background-color: white;
  &__done {
    height: 100%;
    background-color: black;
    box-sizing: border-box;
  }
}

.label {
  width: 100%;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
  line-height: 18px;
}
