.container {
  flex: 1;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  &__label {
    &_left {
      width: 100%;
      height: 20px;
      text-align: left;
    }
    &_right {
      width: 100%;
      height: 20px;
      text-align: right;
    }
  }
  &__panelContainer {
    width: 100%;
    flex: 1;
    border: 1px solid red;
  }
}
