.container {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  box-sizing: border-box;
  padding-right: 10px;
  padding-left: 10px;
}
