.container {
  width: 100%;
  height: 100px;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  gap: 10px;
}
