.container {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  gap: 10px;

  @media (max-width: 400px) {
    height: fit-content;
    padding-right: 0px;
    padding-left: 0px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
