.container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;

  @media (max-width: 400px) {
    padding-left: 0;
    padding-right: 0;
  }
}
