.container {
  width: 100%;
  height: fit-content;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
}
