.container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;

  @media (max-width: 400px) {
    padding-left: 0;
    padding-right: 0;
  }
}
