.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  padding-left: 10px;

  @media (max-width: 400px) {
    padding-left: 0;
  }
}
