.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  box-sizing: border-box;
  height: 30px;
  width: 30px;
  padding: 0;
}
