.container {
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;

  @media (max-width: 400px) {
    padding-right: 5px;
    padding-left: 5px;
  }
}
