@font-face {
  font-family: 'SF Pro Text';
  src: url('./assets/font/SFProText-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  font-family: 'SF Pro Text';
  line-height: 1.5;
  font-weight: 400;
  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e5e5e5;
}

#root {
  max-width: 580px;
  min-width: 320px;
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: 600px) {
  #root {
    padding: 0 15px;
  }
}

@media (max-width: 340px) {
  #root {
    padding: 0 10px;
  }
}
